@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    transition: all .3s ease-in;
    overflow: hidden;
}

.dark-transition{
    transition: bacground-color 0.5s ease, color 0.5s ease;
}
.icon-con {
  --rotation: 0;
  transform: rotate(calc(var(--rotation) * 1deg))
  
}

input[type=checkbox] {
  height:0;
  width: 0;
  visibility:hidden;
  
}

label {
  cursor: pointer;
  text-indent:-9999px;
  width:50px;
  height:30px;
  background: grey;
  display:block;
  border-radius: 90px;
  transition: 0.3s;
  position: relative;
  
  
}
label:after {
  content: '';
  position:absolute;
  top:5px;
  left:25px;
  width:20px;
  height:20px;
  background: #fff;
  border-radius: 90px;
    transition:0.3s;
 }
input:checked + label {
background: #8b5cf6
}
input:checked + label:after {
left: calc(100%-5px);
transform: translateX(-100%)
}

label:active:after {
  width:30px;
}
